<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../master/header'); %>
</head>
<body>

<header>
    <%- include('../../master/navbar'); %>
</header>

<main >
    <div class="container about-jumbotron" style="color: #E38B29;">
        <div class="text-black text-center align-self-center">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card shadow rounded-4">
                        <div class="card-body">
                          <h5 class="card-title">Nurul Carolina</h5><a href="https://www.instagram.com/nurulcarolina_/">
                          <img src="/images/instagram .png" class="rounded-5 p-3" width="50%" alt=""></a>
                          <p class="card-text data-jam"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card shadow rounded-4">
                        <div class="card-body">
                          <h5 class="card-title">Sanme Fiorenika</h5><a href="https://www.instagram.com/real_sanme/">
                          <img src="/images/instagram .png" class="rounded-5 p-3" width="50%" alt=""></a>
                          <p class="card-text data-jam"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card shadow rounded-4">
                        <div class="card-body">
                          <h5 class="card-title">Astanti Hariani Pratiwi</h5><a href="https://instagram.com/astantii_?igshid=YmMyMTA2M2Y=">
                          <img src="/images/instagram .png" class="rounded-5 p-3" width="50%" alt=""></a>
                          <p class="card-text data-jam"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card shadow rounded-4">
                        <div class="card-body">
                          <h5 class="card-title">M Nabil Farras</h5><a href="http://instagram.com/_mnabilfarrs">
                          <img src="/images/instagram .png" class="rounded-5 p-3" width="50%" alt=""></a>
                          <p class="card-text data-jam"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</main>
<footer class="fixed-bottom" style="margin-bottom: 0;">
    <%- include('../../master/footer'); %>
</footer>
</body>
</html>