<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/header'); %>
</head>
<body class="container">

<header>
    <%- include('./master/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <%- include('./master/footer'); %>
</footer>

</body>
</html>