*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}
.navbar{
    background-color: #F1A661;
}
   
.hero{
    background-image: url("../images/jumbotron.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 190px ;
    padding-bottom: 170px;
}
.title-artikel{
    font-family: 'Courgette', cursive;
    text-align: center;
    font-weight: bold;
}
#grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px 5%;
}
#img-listartikel{
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    float: left;
    margin: 15px;
    font-size: 25px;
}
#grid > article {
    display: inline;
    box-shadow: 10px 5px 5px 0px #E6E6FA;
    border-radius: 30px;
    text-align: center;
    background: whitesmoke;
    transition: transform;
}
#detail-artikel{
    display: inline;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
#detail-artikel:hover{
    position: relative;
    box-shadow: 1em;
}
#grid > article img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
    display: block;
}

article{
    display: inline;
    margin: 20px 5%;
    grid-template-columns: repeat(1, 1fr);
    cursor: pointer;
}
article:hover{
    display: inline;
    -ms-transform: skew(2deg); /* Support IE 9 */
    -webkit-transform: skew(2deg); /* support Safari */
    transform: skew(2deg); /* Standard syntax */ 
}
.footer-login {
    margin-top: 12px;
}

.img-listitem{
    border-radius: 50px;
    width: 666px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 5px 5px 0px #9b9b9e;
}
.title-listitem{
    text-align: center;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    text-shadow: 3px 2px 1px #E6E6FA;
}
@media(max-width:963px){
    #grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:385px){
    #grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .img-listitem{
        border-radius: 20px;
        width: 150px;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

