*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}
.navbar{
    background-color: #F1A661;
}

.title-artikel{
    font-family: 'Courgette', cursive;
    text-align: center;
    font-weight: bold;
}
#grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px 5%;
}
#img-listartikel{
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    float: left;
    margin: 15px;
    font-size: 25px;
}
#grid > article {
    display: inline;
    box-shadow: 10px 5px 5px 0px #E6E6FA;
    border-radius: 30px;
    text-align: center;
    background: whitesmoke;
    transition: transform;
}
#detail-artikel{
    font-weight: bold;
    padding: 15px 32px;        
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
    background-color: #F1A661;
    
}
#detail-artikel:hover{
    position: relative;
    box-shadow: 1em;
}
#grid > article img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    align-items: center;
    display: block;
}

article{
    display: inline;
    margin: 20px 5%;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
}
article:hover{
    display: inline;
    -ms-transform: skew(1deg); 
    -webkit-transform: skew(1deg);
    transform: skew(1deg); 
}
.footer-login {
    margin-top: 12px;
}

.img-listitem{
    border-radius: 50px;
    width: 666px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 5px 5px 0px #D3D3D3;
}
.deskripsi-listitem{
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    text-align: justify;
}
.title-listitem{
    text-align: center;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    text-shadow: 3px 2px 1px #E6E6FA;
}
#back-listitem{
    display: inline;
    text-align: center;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
}
@media(max-width:963px){
    #grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:555px){
    #img-listartikel{
        object-fit: cover;
        width: 150px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.title-listitem{
    text-align: center;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 1px #E6E6FA;
}
.img-listitem{
    border-radius: 50px;
    width: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 5px 5px 0px #D3D3D3;
}
.deskripsi-listitem{
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    text-align: justify;
}
#back-listitem{
    display: inline;
    text-align: center;
    margin-right: auto;
    font-size: 15px;
    font-weight: bold;
    width: fit-content;
}
}
@media(max-width:385px){
    #grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #img-listartikel{
        object-fit: cover;
        width: 150px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.title-listitem{
    text-align: center;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-shadow: 3px 2px 1px #E6E6FA;
}
.img-listitem{
    border-radius: 10px;
    width: 160px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 5px 5px 0px #D3D3D3;
}
.deskripsi-listitem{
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    text-align: justify;
}
#back-listitem{
    display: inline;
    text-align: center;
    margin-right: auto;
    font-size: 10px;
    font-weight: bold;
    width: fit-content;
}
}
.list-artikel {
    padding-top: 150px;
    padding-bottom: 150px;
}
.src-artikel{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}