<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../master/header'); %>
</head>
<body>

  <header>
    <%- include('../../master/navbar'); %>
  </header>

<main>
    <div class="hero d-flex align-items-center">
      <div class="container">
        <div class="row ">
          <div class="col text-center">
            <h1>HiByeTB</h1>
            <p>Website informasi TBC terlengkap, <br>forum diskusi terkait TBC, daftar dokter konsultasi TBC, <br>dan atur pengingat minum obat untuk penderita TBC</p>
          </div>
        </div>
      </div>
    </div>
</main>

  <footer>
    <%- include('../../master/footer'); %>
  </footer>

</body>

</html>