<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../master/header'); %>
</head>
<body class="container">

<header>
    <%- include('../../master/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>HiByeTB</h1>
        <p>Website informasi TBC terlengkap, forum diskusi terkait TBC, daftar dokter konsultasi TBC, dan atur pengingat minum obat untuk penderita TBC</p>
    </div>
</main>

<footer>
    <%- include('../../master/footer'); %>
</footer>

</body>
</html>