<nav class="navbar navbar-expand-lg navbar-light pt-4 pb-4 ps-5 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold text-white fs-5" href="/">HiByeTB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-5">
        <li class="nav-item active me-3">
          <a class="nav-link font-weight-bold text-white fs-5" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link font-weight-bold text-white fs-5" href="/artikelpage">Artikel</a>
        </li>
        <li class="nav-item me-3">
            <a class="nav-link font-weight-bold text-white fs-5" href="/list">List Dokter</a>
        </li>
        <li class="nav-item me-3">
            <a class="nav-link font-weight-bold text-white fs-5" href="/about">About Us</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link font-weight-bold text-white fs-5" href="/login">Login</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle font-weight-bold text-white fs-5" href="#"  role="button" data-bs-toggle="dropdown"  aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" >
            <a class="dropdown-item fs-5" href="/profile">Profile</a>
            <a class="dropdown-item fs-5" href="/reminderpage">Set Reminder</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item fs-5" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>