<nav class="navbar navbar-expand-lg navbar-light pt-2 pb-2 ps-5 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold text-white " href="/">
      <img src="/images/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-5">
        <li class="nav-item active me-3">
          <a class="nav-link font-weight-bold text-white fs-5" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link font-weight-bold text-white fs-5" href="/listartikel">Artikel</a>
        </li>
        <li class="nav-item me-3">
            <a class="nav-link font-weight-bold text-white fs-5" href="/list">List Dokter</a>
        </li>
        <li class="nav-item me-3">
            <a class="nav-link font-weight-bold text-white fs-5" href="/about">About Us</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link font-weight-bold text-white fs-5" href="/reminderpage">Reminder</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link font-weight-bold text-white fs-5" href="/login">Login</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link font-weight-bold text-white fs-5" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>